
/*** Botão página inicial para ir 
    para a página de pesquisa de Alojam, ***/
.pesquisaAlojam {
    background-color: #69C6BA;
    height: 60px;
    border: 0;
    border-radius: 10px;
}


/**** Página de pesquisa de alojamentos ***/
.nameAloj {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: black;
    font-weight: bold;
    font-size: 20px; 
    position: relative;
    left: 22px;
    top: 10px;
    padding-bottom: 30px;
}

.imagesAloj {
    position: relative;
    left: 8px;
    top: 12px;
}

.moreInfo {
    position: relative;
    right: -460px;
    top: -25px;
    height: 40px;
    width: 210px;
    background-color: #69C6BA ;
    border: 0;
}


/**** +Informação pagamento ***/

.clients_section{
    position: relative;
    left: 50px;
    width: 90%;

}

.carousel-indicators .active { 
    background-color: #c66995;
}
.carousel-indicators li {
    position: relative;
    left: -10px;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 40px;
    height: 6px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #69c6ba;
}

.carousel {
    position: relative;
    padding-bottom: 60px;
}  





