{% extends "base.html" %}

{% block content %}

{% include 'nav.html'%}

<main class="w-100 m-auto p-3" style="max-width:330px; min-width: 1200px; height: 500px;">
    <div class="tm-container-outer tm-position-relative" id="tm-section-4">
        
        <div id="google-map"></div>
        <form action="index.html" method="post" class="tm-contact-form">
            <p style="font-size:1.2rem"><strong>Se quiser entrar em contacto connosco:</strong></p>
            <div class="form-group tm-name-container">
                <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Nome"
                    required />
            </div>
            <div class="form-group tm-email-container">
                <input type="email" id="contact_email" name="contact_email" class="form-control"
                    placeholder="Email" required />
            </div>
            <div class="form-group">
                <input type="text" id="contact_subject" name="contact_subject" class="form-control"
                    placeholder="Assunto" required />
            </div>
            <div class="form-group">
                <textarea id="contact_message" name="contact_message" class="form-control" rows="9"
                    placeholder="Mensagem" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary tm-btn-primary tm-btn-send text-uppercase">Enviar mensagem</button>
        </form>
    </div> <!-- .tm-container-outer -->
</main>

{% endblock %}