
{% block nav %}

<div class="tm-top-bar-bg"></div>
<div class="tm-top-bar" id="tm-top-bar" style="box-shadow: 5px 0px 10px 1px;">
    <div class="container" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <nav class="navbar navbar-expand-lg narbar-light" style="height: 100%;">
                <a class="navbar-brand mr-auto" href="/">
                    <img src="static/img/logotipo.png" alt="Site logo">

                </a>
                <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse"
                    data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="mainNav" class="collapse navbar-collapse tm-bg-white" style="height: 100%;">
                    <ul class="navbar-nav ml-auto" style="height: 100%;">
                        <li class="nav-item">
                            <a class="nav-link {% if currentPage=='inicio' %} active {% endif %}" href="/">Início</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if currentPage=='sobreNos' %} active {% endif %}" href="/sobreNos">Sobre Nós</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if currentPage=='parceriasSustentaveis' %} active {% endif %}" href="parceriasSustentaveis">Parcerias Sustentáveis </a>
                            <p style="position: relative; top: -51px; left: 60px; color:#1e9283;">Junte-se a Nós
                                !</p>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link {% if currentPage=='contactos' %} active {% endif %}" href="/contactos">Contactos</a>
                        </li>

                        {% if user|length > 0 %}
                        <li class="nav-item">
                            <a class="nav-link px-4 {% if currentPage=='userInfo' %} active {% endif %}"  href="userinfo" style="display: flex;transform: translateY(-10%);">
                                <img class="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1024px-User-avatar.svg.png" style="box-shadow: 0px 0px 10px 1px #333;" width="50px">
                                <div class="py-3 px-3" style="">{{ user[0] }}</div>
                                <!-- <a class="nav-link {% if currentPage=='userInfo' %} active {% endif %}" href="userinfo">{{ user[0] }}</a> -->
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if currentPage=='iniciarSessao' %} active {% endif %}" href="iniciarSessao">Iniciar Sessão</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- .tm-top-bar -->

{% endblock %}