{% extends "base.html" %}



{% block content %}

{% include 'nav.html'%}

<section class="p-5 tm-container-outer tm-bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap" style="font-size: 1.5rem;">
                <h2 class="mb-4"><strong>Quer juntar-se à <font color="69c6ba">GreenUtopia</font>?</strong></h2>
                <p class="mb-4"><strong>Em primeiro lugar tem de estar registado na nossa plataforma.</strong></p>
                <p class="mb-4">Leia cuidadosamente todos os pontos necessários.
                   <br> Preencha o nosso formulário e venha ser sustentável connosco!
                </p>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap" style="font-size: 1.5rem;">
                <h4 class="text-uppercase mb-4 text-center"><strong><font color="69c6ba">1.Constituição da Candidatura</font></strong></h4>
                <ul>
                <li><p class="mb-4"><strong>O dossier de candidatura digital.</strong></p></li>
                <p class="mb-4"> O dossier de candidatura digital integra, não só o questionário devidamente preenchido, mas também os documentos de suporte requeridos no formulário de candidatura.   
                <a href="formulario_parcerias">
                    <u><p class="mb-4">Preencha o formulário de candidatura.</p></u>
                </a>
                <br>
                <br>
                <li><p class="mb-4"><strong>Os documentos de suporte.</strong></p></li>
                <ul style="list-style-type:circle;">
                <li><p class="mb-4"> Política ambiental e plano de ação.</li>   
                <li><p class="mb-4">Fotografias sobre a Gestão Ambiental no estabelecimento.</p></li>
                <li><p class="mb-4">Registo Mensal dos consumos de energia e água.</p></li>
                </p>
                </ul>
                </ul>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap" style="font-size: 1.5rem;">
                <h4 class="text-uppercase mb-4 text-center"><strong><font color="69c6ba">2.Processo de encaminhamento</font></strong></h4>
                <ul>
                <li><p class="mb-4"><strong>Avaliação documental</strong></p></li>
                <p class="mb-4"> As respostas do formulário são avaliadas.   
                <br>
                <br>
                <li><p class="mb-4"><strong>Avaliação presencial</strong></p></li>
                <p class="mb-4"> Após a avaliação do documento inserido será realizada, eventualmente, uma avaliação presencial ao estabelecimento.</p>
                </p>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}