{% extends "base.html" %}



{% block content %}

{% include 'nav.html'%}

<section class="p-5 tm-container-outer tm-bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap text-center" style="font-size: 1.1rem;">
                <h3 class="text-uppercase mb-4"><strong>Qual o nosso propósito?</strong></h3>
                <p class="mb-5">A nossa plataforma tem como objetivo fornecer-lhe a melhor experiência com a natureza enquanto estiver de férias ou até mesmo numa viagem de negócios.
                   <br> Ao escolher um dos nossos estabelecimentos terá a certeza que todos se preocupam com a sustentabilidade e com o bem estar do ambiente.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap text-center" style="font-size: 1.1rem;">
                <h3 class="text-uppercase mb-4"><strong>Parcerias</strong></h3>
                <p class="mb-5"> Todos os alojamentos que se encontram na plataforma, são de empresas de alojamento turístico sustentável que contêm um certificado de sustentabilidade fornecido pela nossa equipa.
                     <br> Este certificado é atribuido através do programa "Green Key", sendo este um galardão internacional que promove o Turismo Sustentável em Portugal através do reconhecimento de estabelecimentos turísticos que implementam boas práticas ambientais e que promovem a Educação Ambiental para a Sustentabilidade.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap " style="font-size: 1.1rem;">
                <h3>Lista de Parcerias </h3>
                <br>
                <ol>
                <li>Surf glamping ecológico em Peniche</li>
                <li>Turismo de natureza no Parque Natural de Montesinho</li>
                <li>Hotel de luxo ecológico em Óbidos</li>
                <li>Alojamento sustentável no Parque Natural da Serra da Arrábida</li>
                <li>Eco-resort no Litoral do Alentejo</li>
                <li>Turismo rural eco-consciente perto de Évora</li>
                <li>Quinta com eco-resort em Lagos</li>
                </ol> 

                <br>
                <br>
                <div class="col-xs-12 mx-auto tm-about-text-wrap text-center" >
                    <a href="https://greenkey.abae.pt/">
                        <img src="/static/img/green.png" alt="Green Key" style="width: 105px;" >
                    </a>
                </div>
            </div>
        </div>
    </div>


</section>

 


<footer>
    <p style="font-size:1.2rem;"><strong>Esta plataforma foi promovida pela Agência Abreu</strong></p>
    <a href="https://www.abreu.pt">
        <img src="/static/img/abreu.png" alt="Agência Abreu" style="width: 230px;" >
      </a>
</footer>
{% endblock %}